<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="../static/css/styles.css">
<title>Title</title>
</head>

<body>
 <!-- Navigation List -->
 <div class="navbar">
    <ul>
        <li><a href="who.html">WHO WE ARE |</a></li>
        <li><a href="what.html">WHAT WE DO |</a></li>
        <li><a href="#">NEWS & EVENTS |</a></li>
        <li><a href="#">WHERE WE WORK |</a></li>
        <li><a href="#">CONTACT US</a></li>
    </ul>
</div>
    {% block content %}

#Essentially all content from html's goes here.

    {% endblock content %}
    #If we have a footer put HERE

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

