 {% extends 'base.html %} 
 
 {% block content %}

    <div class="container">
        <h1> New Case Note</h1>

        <form method= 'POST'>
            {{ post_form.hidden.tag }}
            <div class="form-group">
                <fieldset>
                    {{ post_form.title.label}}
                    {{ post_form.title(class = 'form-control', placeholder = "Case Number Here")}}
                </fieldset>

                <fieldset>
                    {{ post_form.name.label }}
                    {{ post_form.name(class = 'form-control', placeholder = "Name of Client")}}
                </fieldset>

                <fieldset>
                    {{ post_form.content.label }}
                    {{ post_form.content(class = 'form-control', placeholder = "Add your notes here.")}}
                </fieldset>
                {{ user_form.submit(class = 'btn btn-success' )}}
            </div>
           
        </form>
    </div>

{% endblock content %}